* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo,
.info-cont {
  user-select: none;
  cursor: default;
}

html, body {
  height: 100%;
}

body {
 /*   background-image: url('images/lolguessbg.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat; */
    height: 100vh;  

    overflow: hidden;
    position: relative;

}
.guess-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.champ-icon {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.info-cont {
    height: 100px;
    width: 100px;
    display: flex;
    font-size: 1rem;
    border: 3px black solid;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    color: black;
    font-size: 1rem;
}
.info-cont:hover {
  border: none;
}

.guess-row {
    display: flex;
    max-width: 900px;
    flex-flow: row wrap;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background-color: black;
}
.guess-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 10px;
}

.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('images/lolguessbg.jpg');
  background-size: cover;
  background-position: top center;
  filter: blur(1px) brightness(0.7);  
  z-index: -1;  
}

.headers {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}


#spacer {
    height: 40px;
}

.dontsueme {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  z-index: 9999;
}

#login {
    position: absolute;
    right: 20px;   
}

#confirmInput {
    border: 10px black double;
    outline: none;
    background: #AE75A7;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    font-size: 2rem;
}
#confirmInput:hover {
    background: #ad81a8;
}

#guessInput {
    height: 40px;
    padding: 10px;
    border: 3px black solid;
    border-radius: 5px;
    box-shadow: none;
}
#guessInput:focus {
    outline: none;
    border: 3px black solid;
    box-shadow: 0 0 5px 3px #69EAFF 
}

#logo {
  font-size: 4rem;
  color: white;
    -webkit-text-stroke: 3px black;
  font-family: "Luckiest Guy";
  font-weight: 400;
  font-style: normal;

}

#guessContainer {
    max-height: 60vh;     
    overflow-y: auto;   
    padding-right: 8px;
    
}

#guessContainer::-webkit-scrollbar {
    width: 10px;
}
        
#guessContainer::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e72d;
    border: 1px solid #363636;
}
        
#guessContainer::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #363636;
}

.animate-in {
    opacity: 1;
}

#server-status {
    text-align: center;
}

.arrowup {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid limegreen;
  margin: 20px auto;
  transition: border-bottom-color 0.3s ease;
}