* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo,
.info-cont {
  user-select: none;
  cursor: default;
}

html, body {
  height: 100%;
}

body {
 /*   background-image: url('images/lolguessbg.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat; */
    height: 100vh;  
    overflow: hidden;
    position: relative;

}
.guess-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.champ-icon {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.info-cont {
    height: 100px;
    width: 100px;
    display: flex;
    font-size: 1rem;
    border: 3px black solid;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    color: black;
}
.info-cont:hover {
  border: none;
}

.guess-row {
    display: flex;
    max-width: 900px;
    flex-flow: row wrap;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background-color: black;
}
.guess-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 10px;
}

.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('images/lolguessbg.jpg');
  background-size: cover;
  background-position: top center;
  filter: blur(1px) brightness(0.7);  
  z-index: -1;  
}

.headers {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}


#spacer {
    height: 40px;
}

.dontsueme {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  z-index: 9999;
}

#login {
    position: absolute;
    right: 20px;   
}

#confirmInput {
    border: 10px black double;
    outline: none;
    background: #AE75A7;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    font-size: 2rem;
}
#confirmInput:hover {
    background: #ad81a8;
}

#guessInput {
    height: 40px;
    padding: 10px;
    border: 3px black solid;
    border-radius: 5px;
    box-shadow: none;
}
#guessInput:focus {
    outline: none;
    border: 3px black solid;
    box-shadow: 0 0 5px 3px #69EAFF 
}

#logo {
  font-size: 4rem;
  color: white;
    -webkit-text-stroke: 3px black;
  font-family: "Luckiest Guy";
  font-weight: 400;
  font-style: normal;

}

#guessContainer {
    max-height: 60vh;     
    overflow-y: auto;   
    padding-right: 8px;
}

#guessContainer::-webkit-scrollbar {
    width: 10px;
}
        
#guessContainer::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e72d;
    border: 1px solid #363636;
}
        
#guessContainer::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #363636;
}

.animate-in {
    opacity: 1;
}

#server-status {
    text-align: center;
}

.arrowup {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid rgb(129, 18, 18);
}

#login {
    background-color: #ad81a8;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;    
    border: 1px black solid;
    font-size: 1rem;
    border-radius: 50px;
    margin-bottom: 5px;
    height: 40px;
    width: 100px;
}

/* 
---------------------------------
    USER LOGGED IN SETTINGS BELOW
---------------------------------
*/

#loggedin-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}
.yesterday-img {
    height: 8vh;
    border-radius: 10px;
}
#yesterday-champ {
    color: white;
}
#friends,
#stats {
    font-size: 1.5rem;
    border-radius: 10px;
    background: none;
    border: none;
}
#logout {
    border-radius: 10px;
    height: 40px;
}
/* 
---------------------------------
    LOGIN PAGE SETTINGS BELOW
---------------------------------
*/
#login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color:rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    gap: 5px;
}
#login-page button:hover {
    cursor: pointer;
}

form {
  display: contents;
}

#login-head {
    font-family: "Luckiest Guy";
    color: white;
    font-size: 2rem;
}

input {
    padding-left: 5px;
    border-radius: 5px;
}

#password-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-left: 32px;
}

#password-wrap input {
  padding-left: 5px;
  border-radius: 5px;
}
#eye, 
#login-eye {
    width: 20px;
    height: 20px;
    all: unset;
    flex-shrink: 0;
}

.error-message{
    visibility: hidden;
    color: red;
    font-weight: 800;
    text-align: center;
    height: 40px;
}

#sign-log {
    display: inline-block;
    border: none;
    background-color: transparent;
    color: rgb(243, 243, 243);
    text-decoration-line: underline;
    font-size: 0.8rem;
}

#return-game{
    background-color: #ad81a8;
    border: 2px black solid;
    border-radius: 50px;
    margin-bottom: 5px;
    height: 40px;
    width: 120px;
}

#login-btn {
    background-color:#69EAFF;  
    border: 2px black solid;
    border-radius: 50px;
    margin-bottom: 5px;
    height: 25px;
    width: 75px;
}

#remember-me{
    color: rgb(255, 255, 255);
}

/* 
---------------------------------
    STATS PAGE SETTINGS BELOW
---------------------------------
*/

#stats-page {
  max-width: 420px;
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
  display: none;
}
#stats-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#stats-username {
    font-family: 'Luckiest Guy', sans-serif;
    color: white;
    -webkit-text-stroke: 1px black;
}
#show-game {
    background-color: #ad81a8;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;    
    border: 1px black solid;
    font-size: 0.8rem;
    border-radius: 50px;
    height: 40px;
    width: 100px;
}
.stat-card {
  background: #f3f3f3;
  padding: 16px 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.stat-card h2 {
  margin-bottom: 10px;
}

.guess-box {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 5px;
  color: white;
  margin-right: 5px;
  font-weight: bold;
}

.green {
  background-color: #4caf50;
}

.orange {
  background-color: #ff9800;
}

.red {
  background-color: #f44336;
}

#stats-page {
    max-height: 96vh;     
    overflow-y: auto;   
    padding-right: 8px;
}

#stats-page::-webkit-scrollbar {
    width: 10px;
}
        
#stats-page::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e72d;
    border: 1px solid #363636;
}
        
#stats-page::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #363636;
}


/* 
---------------------------------
    MOBILE SETTINGS BELOW
---------------------------------
*/

@media (max-width: 700px) {
    #guessContainer {
    max-width: 98vw;     
    overflow-x: auto;   
    padding-right: 8px;
}
    .guess-row {
        background-color: transparent;
        max-width: 98vw;
        flex-wrap: nowrap;
        gap: 0px;
        padding-left: 0px;
        padding-bottom: 10px;
}
    .champ-icon {
        height: 6vh;
        width: 10vw;
        padding-right: 0px;
}
    .info-cont {
        display: flex;
        min-width: 47px;
        max-height: 50px;
        font-size: 0.7rem;
        border: 0.5px black solid;
        border-radius: 10px;
        gap: 0px;
        color: rgb(0, 0, 0);
}
    .guess-input {
    font-size: 16px;
    width: 100%;
    max-width: 600px;
}
    #guessContainer::-webkit-scrollbar {
    display: none;
}
    #stats-page::-webkit-scrollbar {
    display: none;
}
    #login{
        width: 60px;
        font-size: 0.6rem;
}
    html, body {
    overflow-y: auto !important;
    height: auto;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
} 
    body * {
    touch-action: auto;
    }
    button {
        color: black;
    }
}

